<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDAO" class="ru.iteco.project.dao.map.UserDAOImpl"/>
    <bean id="taskDAO" class="ru.iteco.project.dao.map.TaskDAOImpl"/>
    <bean id="contractDAO" class="ru.iteco.project.dao.map.ContractDAOImpl"/>

    <!--    Автосвязывание через конструктор-->
    <bean id="userService" class="ru.iteco.project.service.UserServiceImpl">
        <constructor-arg index="0" ref="userDAO"/>
    </bean>

    <!--    Автосвязывание по имени переменной класса и бина-->
    <bean id="taskService" class="ru.iteco.project.service.TaskServiceImpl" autowire="byName">
    </bean>

    <!--    Автосвязывание по типу интерфейса-->
    <bean id="contractService" class="ru.iteco.project.service.ContractServiceImpl" autowire="byType">
    </bean>


</beans>