version: '2'
services:
  postgres:
    image: postgres:12.4
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=frilance
    ports:
      - 5432:5432

# docker-compose up -d
# docker-compose down --remove-orphans